<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to my website showing a collection of DevOps terms and their brief description</p>
    <body>
  <table border="1">
    <tr>
      <td>ID#</td>
      <td>Term</td>
      <td>Description</td>
      <td>Reference</td>
    </tr>
    <tr>
      <td>1</td>
      <td>DevOps</td>
      <td>DevOps is a software development methodology.DevOps focuses on enabling close collaboration between development (Dev) and operations (Ops)</td>
      <td>https://learn.microsoft.com/en-us/devops/what-is-devops</td>
    </tr>
    <tr>
      <td>2</td>
      <td>The Wall of Confusion</td>
      <td>The Wall of Confusion is the idea that different departments have different goals and work according to their own goals.</td>
      <td>https://levelup.gitconnected.com/the-wall-of-confusion-623057a4dd26</td>
    </tr>
    <tr>
      <td>3</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
    </tr>
    <tr>
      <td>4</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
    </tr>
    <tr>
      <td>5</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
    </tr>
    <tr>
      <td>6</td>
      <td>19</td>
      <td>20</td>
      <td>21</td>
    </tr>
    <tr>
      <td>7</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
    </tr>
    <tr>
      <td>8</td>
      <td>25</td>
      <td>26</td>
      <td>27</td>
    </tr>
    <tr>
      <td>9</td>
      <td>28</td>
      <td>29</td>
      <td>30</td>
    </tr>
    <tr>
      <td>10</td>
      <td>31</td>
      <td>32</td>
      <td>33</td>
    </tr>
  </table>
</body>

  </body>
</html>
