<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to my website showing a collection of DevOps terms and their brief description</p>
    <body>
  <table border="1">
    <tr>
      <td>ID#</td>
      <td>Term</td>
      <td>Description</td>
      <td>Reference</td>
    </tr>
    <tr>
      <td>1</td>
      <td>DevOps</td>
      <td>DevOps is a software development methodology.DevOps focuses on enabling close collaboration between development (Dev) and operations (Ops)</td>
      <td>https://learn.microsoft.com/en-us/devops/what-is-devops</td>
    </tr>
    <tr>
      <td>2</td>
      <td>The Wall of Confusion</td>
      <td>The Wall of Confusion is the idea that different departments have different goals and work according to their own goals.</td>
      <td>https://levelup.gitconnected.com/the-wall-of-confusion-623057a4dd26</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Microservices</td>
      <td>Microservices are an architecture for developing software. Connecting a variety of small, independent services together via APIs</td>
      <td>https://aws.amazon.com/microservices/</td>
    </tr>
    <tr>
      <td>4</td>
      <td>API</td>
      <td>An API is a mechanism that allows two pieces of software to communicate with each other using an API.</td>
      <td>https://aws.amazon.com/what-is/api/</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Software development life cycle</td>
      <td>SDLC is a software development process.It is required to produce high quality software with high efficiency. And to meet delivery standards</td>
      <td>https://www.synopsys.com/glossary/what-is-sdlc.html</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Continuous integration</td>
      <td>continuous integration is an approach to the DevOps development process. It is when developers periodically commit code to a shared code base for automated testing. This method is used to find problems in the code and fix them.</td>
      <td>https://aws.amazon.com/devops/continuous-integration/</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Continuous Delivery</td>
      <td>Continuous delivery is also an approach to development using DevOps. In this method, the system automatically deploys the code that passes the automated tests to a pre-release environment.</td>
      <td>https://aws.amazon.com/devops/continuous-delivery/</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Continuous Deployment</td>
      <td>Continuous deployment is a strategy in software development. When the software passes the automated tests it is not just deployed in a pre-production environment.Continuous deployment releases the code into the production environment. When the code passes the tests it is pushed directly to the users.</td>
      <td>https://www.ibm.com/topics/continuous-deployment</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Agile software development</td>
      <td>Agile software development is a development framework that promotes cross-departmental collaboration across multiple departments.</td>
      <td>https://en.wikipedia.org/wiki/Agile_software_development</td>
    </tr>
    <tr>
      <td>10</td>
      <td>version control</td>
      <td>version control is a tool that helps DevOps teams manage source code. Teams can fix bugs in a timely manner through version control. It helps them to reduce development time and increase the success rate of deployments</td>
      <td>https://www.atlassian.com/git/tutorials/what-is-version-control</td>
    </tr>
  </table>
</body>

  </body>
</html>
